{% comment %}

Collection Listings Slider:
A slider section containing products.

@author Peter Laxalt
@since 2/2020

@params
{{ collectionTitle }}: Collection Title
{{ slug }}: Collection URL

@todo
Convert to section.

{% endcomment %}

<section class="collection-listings-slider">
  <div class="collection-listings-slider-inner">
    <div class="collection-listings-slider-header">
      <h3>
        {{ collectionTitle }}
      </h3>
    </div>
    <div class="collection-listings-slider-el collection-listings-slider-1" itemscope
      itemtype="http://schema.org/ItemList">

      <a href="{{ slug }}" class="view-all-card">
        <div class="view-all-card-inner">
          <span>
            View All
          </span>
        </div>
      </a>

      {% include 'product-card' 
        title: 'Product One',
        cover: 'https://source.unsplash.com/1600x900/?bike',
        price: '$10.99',
        slug: '/' 
      %}

      {% include 'product-card' 
        title: 'Product One',
        cover: 'https://source.unsplash.com/1600x900/?tool',
        price: '$10.99',
        slug: '/' 
      %}

      {% include 'product-card' 
        title: 'Product One',
        cover: 'https://source.unsplash.com/1600x900/?wheel',
        price: '$10.99',
        slug: '/' 
      %}

      {% include 'product-card' 
        title: 'Product One',
        cover: 'https://source.unsplash.com/1600x900/?spokes',
        price: '$10.99',
        slug: '/' 
      %}

    </div>
  </div>
</section>