{% comment %}

Featured Products Slider:
A slider section containing featured products.

@author Peter Laxalt
@since 2/2020
@stylesheet: featured-products-slider.scss

@todo
Convert to section.

{% endcomment %}

<section class="featured-products-slider">
  <div class="featured-products-slider-inner">
    <div class="featured-products-slider-el featured-products-slider-1" itemscope
      itemtype="http://schema.org/ItemList">

      {% include 'product-card' 
        title: 'Product One',
        cover: 'https://source.unsplash.com/1600x900/?bike',
        price: '$10.99',
        slug: '/products/vintage-team-fuji-road-bike' 
      %}

      {% include 'product-card' 
        title: 'Product One',
        cover: 'https://source.unsplash.com/1600x900/?tool',
        price: '$10.99',
        slug: '/products/vintage-team-fuji-road-bike' 
      %}

      {% include 'product-card' 
        title: 'Product One',
        cover: 'https://source.unsplash.com/1600x900/?wheel',
        price: '$10.99',
        slug: '/products/vintage-team-fuji-road-bike' 
      %}

      {% include 'product-card' 
        title: 'Product One',
        cover: 'https://source.unsplash.com/1600x900/?spokes',
        price: '$10.99',
        slug: '/products/vintage-team-fuji-road-bike' 
      %}

      {% include 'product-card' 
        title: 'Product One',
        cover: 'https://source.unsplash.com/1600x900/?wheel',
        price: '$10.99',
        slug: '/products/vintage-team-fuji-road-bike' 
      %}

      {% include 'product-card' 
        title: 'Product One',
        cover: 'https://source.unsplash.com/1600x900/?spokes',
        price: '$10.99',
        slug: '/products/vintage-team-fuji-road-bike' 
      %}
    </div>
  </div>
</section>