{% comment %}

Featured Products Slider:
A slider displaying featured products

@author Peter Laxalt and Alisha Garric
@since 2/2020
@stylesheet featured-products-slider.scss

@params
{{ featuredProducts }}: String of product handles seperated by a space

{% endcomment %}


{% assign productsArray = featuredProducts | split: ' ' %}

{% comment %} Get the amount of products to be used for slider {% endcomment %}
{% assign featuredProductsLength = productsArray | size %}

{% comment %} Make sure there's atleast three products to display the slider {% endcomment %}
{% if featuredProductsLength > 3 %}

    <section class="featured-products-slider">
        <div class="featured-products-slider-inner">
            <div class="featured-products-slider-el featured-products-slider-1" itemscope
            itemtype="http://schema.org/ItemList">

                {% for product in productsArray %}

                    {% unless all_products[product] == empty %}
                    
                        {% assign title = all_products[product].title %}
                        {% assign link = all_products[product].url %}
                        {% assign cover = all_products[product].featured_image | img_url: 'large' %}
                        {% assign price = all_products[product].price %}
                        {% assign compare-price = all_products[product].compare_at_price %}
                        {% assign available = all_products[product].available %}

                        {% include 'product-card' 
                            title: title
                            cover: cover,
                            price: price,
                            slug: link,
                            compare-price: compare-price,
                            available: available
                        %}
                    {% endunless %}
                {% endfor %}

            </div>
        </div>
    </section>
{% endif %}