{% comment %}

Overlay Nav Navigation
Overlay Site Navigation

@author Alisha Garric
@since 3/2020
@stylesheet overlay-nav.scss

{% endcomment %}



<div class="overlay-nav-container dark-theme" id="overlay-nav">
    <div class="left">
        <div class="top">
            <a href="/" class="branding">
               <img src="{{ settings.site-logo-dark | img_url: 'small' }}" alt="{{ shop.name }}">
            </a>
            <div class="exit nav-overlay-toggle" id="overlay-exit"></div>
        </div>
        <nav class="overlay-nav">
            <div>
                <ul class="menu">
                    {% for link in linklists.main-navigation.links %}
                        <li>
                            <a class="nav-overlay-toggle" href="{{link.url}}">{{ link.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
        <div class="overlay-nav-cta">
            <a href="/cart">
                <span>Cart</span>
            </a>
        </div>
    </div>
    <div class="right"></div>
</div>