{% comment %}

Product Listings Component

@author Peter Laxalt
@since 2/2020
@stylesheet product-listings.scss

{% endcomment %}


<section class="product-listings">
  <div class="product-listings-inner">

    {% for product in collection.products %}
      {% assign cover = product.featured_image | img_url: 'large' %}
      {% assign price = product.price | money %}

      {% include 'product-card' 
          title: product.title,
          cover: cover,
          price: price,
          slug: product.url,
          handle: product.handle
        %}
    {% endfor %}
  </div>
</section>