{% comment %}

Cart Page:
The cart template.

@author Peter Laxalt and Alisha Garric
@since 3/2020
@stylesheet: cart.scss

{% endcomment %}

{% include 'item-count' %}

{% if itemCount > 0 %}

  <section class="cart padding-top-none">
    <section class="cart-inner padding-top-none">

      <form action="/cart" method="post" novalidate>

        <div class="col cart-items">

          <h1>Your Cart</h1>

          {% for item in cart.items %}
              {% include 'cart-item' %}
          {% endfor %}

          <div class="cart-meta">
              <textarea name="note" class="cart-instructions" id="CartSpecialInstructions"
                placeholder="Add any notes..."></textarea>

              <button type="submit" class="btn" name="update">Update Cart</button>
          </div>
        </div>

        <div class="col subtotal">
          <span class="total">
            {{ cart.total_price | money }}
          </span>
          <span class="label">
            Subtotal
          </span>
          <div class="select-container">
            <select>
              <option>Pick up in-store</option>
              <option>Deliver item(s) to me</option>
            </select>
          </div>

          <button type="submit" class="btn btn-arrow btn-clr-black" name="checkout">Checkout</button>
          <!--{% if settings.delivery-bool == false %}-->
            <!--<a href="/collections/" class="btn btn-clr-snow btn-arrow">Keep Shopping</a>-->
          <!--{% endif %}-->
          <span class="disclaimer">
            Shipping & taxes calculated at checkout for delivery items.
          </span>
        </div>

      </form>

    </section>
  </section>

{% else %}
  {% comment %}
    The cart is empty
  {% endcomment %}

  <section class="cart empty-cart padding-bottom-none">
    <h1>
      Your cart is empty.
    </h1>
    <p>
      But it's never been so ready to be full of joy.
    </p>
    <a href="/collections/" class="btn btn-clr-black btn-arrow">Start shopping</a>
  </section>

{% endif %}

{% assign featuredCollection = collections | first %}
{% include 'collection-listings-slider' title: "Keep Shopping", link: "/collections/", products: featuredCollection.products %}


{% include 'block-row' %}