{% comment %}

Cart Page:
The cart template.

IF CHANGES ARE MADE TO THIS PAGE, PLEASE NAVIGATE TO THE PICK APP AND RESAVE
SETTINGS PAGE SO THAT LOGIC INJECTS INTO UPDATED TEMPLATE

PETE HEREBY HATES THAT THE PICK UP PLUGIN REFRESHES PAGE WHEN REMOVING
VISUALLY HIDDEN PICK UP PRODUCT FROM CART

@author Peter Laxalt and Alisha Garric
@since 3/2020
@stylesheet: cart.scss

{% endcomment %}

{% unless settings.enable-purchasing == true %}
  <script>window.location.href = "/";</script>
{% endunless %}

{% comment %} from pick up app {% endcomment %}
{% assign pickUpProductID = 4549493915757 %}

{% include 'item-count' %}

{% comment %} figure out if theres pick up only items in the cart so we can hide the shipping option {% endcomment %}
{% assign pickUpOnlyItemCount = 0 %}
{% for item in cart.items %}
    {% assign product = item.product %}
    {% include 'pickup-only-product' %}
    {% if pickUpOnlyProduct == true and product.id != pickUpProductID %}
      {% assign pickUpOnlyItemCount = pickUpOnlyItemCount | plus: 1 %}
      {% break %}
    {% endif %}
{% endfor %}

{% if itemCount > 0 %}

  <section class="cart padding-top-none {% if pickUpOnlyItemCount > 0 %}hide-shipping-option{% endif %}">
    <section class="cart-inner padding-top-none">

      <form action="/cart" method="post" novalidate>

        <div class="col cart-items">

          <h1>Your Cart</h1>

          {% for item in cart.items %}
              {% include 'cart-item' %}
          {% endfor %}

          <div class="cart-meta">
              <textarea name="note" class="cart-instructions" id="CartSpecialInstructions"
                placeholder="Add any notes..."></textarea>

              <button type="submit" class="btn" name="update">Update Cart</button>
          </div>
        </div>

        <div class="col subtotal 
          {% if settings.sundays-toggle %} sundays-toggle {% endif %}
          {% if settings.saturdays-toggle %} saturdays-toggle {% endif %}
          {% if settings.mondays-toggle %} mondays-toggle {% endif %}
          {% if settings.tuesdays-toggle %} tuesdays-toggle {% endif %}
          {% if settings.wednesdays-toggle %} wednesdays-toggle {% endif %}
          {% if settings.thursdays-toggle %} thursdays-toggle {% endif %}
          {% if settings.fridays-toggle %} fridays-toggle {% endif %}
        ">
          <span class="total">
            {{ cart.total_price | money }}
          </span>
          <span class="label">
            Subtotal
          </span>

          <button type="submit" class="btn btn-arrow btn-clr-black" name="checkout">Checkout</button>
          <!--<a href="/collections/" class="btn btn-clr-snow btn-arrow">Keep Shopping</a>-->
          <span class="disclaimer">
            Shipping & taxes calculated at checkout for delivery items.
          </span>
          <span class="hours">
            <b>Pick Up Hours:</b></br>
            {{ settings.store-hours | newline_to_br }}
            </span>
        </div>

      </form>

    </section>
  </section>

{% else %}
  {% comment %}
    The cart is empty
  {% endcomment %}

  <section class="cart empty-cart padding-bottom-none">
    <h1>
      Your cart is empty.
    </h1>
    <p>
      But it's never been so ready to be full of joy.
    </p>
    <a href="/collections/" class="btn btn-clr-black btn-arrow">Start shopping</a>
  </section>

{% endif %}

{% assign featuredCollection = collections | first %}
{% include 'collection-listings-slider' title: "Keep Shopping", link: "/collections/", products: featuredCollection.products %}


{% include 'block-row' %}
{% include 'newsletter-row' %}