{% comment %}

Page Template:
The default page template, which will NOT BE USED, because pages are handled
on the wordpress site.


@author Peter Laxalt
@since 3/2020

{% endcomment %}

<script type="text/javascript">
    window.location = "/";
</script>

<!--
<h1>{{ page.title }}</h1>
<div>{{ page.content }}</div>
-->
