.bg-black {
  background: black;
  color: white; }
  .bg-black a {
    color: white; }

.bg-dark-grey {
  background: #0A0A0A;
  color: white; }
  .bg-dark-grey a {
    color: white; }

.txt-red {
  color: red; }

.arrow-styles, footer.section .inner .block:first-of-type .top ul li:first-of-type {
  position: relative;
  margin-right: 72px; }
  .arrow-styles.med-size, footer.section .inner .block:first-of-type .top ul li.med-size:first-of-type {
    margin-right: 50px; }
    .arrow-styles.med-size:before, footer.section .inner .block:first-of-type .top ul li.med-size:first-of-type:before {
      height: 20px;
      width: 20px;
      top: calc(50% - 10px);
      border-top: 2px solid white;
      border-right: 2px solid white;
      transform: rotate(45deg) translate(-1px, 2px); }
    .arrow-styles.med-size:after, footer.section .inner .block:first-of-type .top ul li.med-size:first-of-type:after {
      width: 30px;
      height: 2px; }
    .arrow-styles.med-size:before, footer.section .inner .block:first-of-type .top ul li.med-size:first-of-type:before, .arrow-styles.med-size:after, footer.section .inner .block:first-of-type .top ul li.med-size:first-of-type:after {
      right: -35px; }
    .arrow-styles.med-size.align-top:after, footer.section .inner .block:first-of-type .top ul li.med-size.align-top:first-of-type:after {
      top: 10px; }
  .arrow-styles.sm-size, footer.section .inner .block:first-of-type .top ul li.sm-size:first-of-type {
    margin-right: 35px; }
    .arrow-styles.sm-size:before, footer.section .inner .block:first-of-type .top ul li.sm-size:first-of-type:before {
      height: 10px;
      width: 10px;
      top: calc(50% - 5px);
      border-top: 2px solid white;
      border-right: 2px solid white;
      transform: rotate(45deg) translate(0px, 1px); }
    .arrow-styles.sm-size:after, footer.section .inner .block:first-of-type .top ul li.sm-size:first-of-type:after {
      width: 15px;
      height: 2px; }
    .arrow-styles.sm-size:before, footer.section .inner .block:first-of-type .top ul li.sm-size:first-of-type:before, .arrow-styles.sm-size:after, footer.section .inner .block:first-of-type .top ul li.sm-size:first-of-type:after {
      right: -30px; }
    .arrow-styles.sm-size.align-top:after, footer.section .inner .block:first-of-type .top ul li.sm-size.align-top:first-of-type:after {
      top: 5px; }
  .arrow-styles:before, footer.section .inner .block:first-of-type .top ul li:first-of-type:before, .arrow-styles:after, footer.section .inner .block:first-of-type .top ul li:first-of-type:after {
    content: "";
    position: absolute;
    right: -72px;
    transition-duration: .25s; }
  .arrow-styles.align-top:before, footer.section .inner .block:first-of-type .top ul li.align-top:first-of-type:before {
    top: 0px; }
  .arrow-styles.align-top:after, footer.section .inner .block:first-of-type .top ul li.align-top:first-of-type:after {
    top: 15px; }
  .arrow-styles:before, footer.section .inner .block:first-of-type .top ul li:first-of-type:before {
    height: 30px;
    width: 30px;
    transform: rotate(45deg) translate(-2px, 4px);
    border-top: 3px solid white;
    border-right: 3px solid white;
    top: calc(50% - 15px); }
  .arrow-styles:after, footer.section .inner .block:first-of-type .top ul li:first-of-type:after {
    width: 40px;
    height: 3px;
    top: 50%;
    background: white; }

section.section, footer.section {
  width: 100%;
  padding: 96px 0;
  font-weight: 300; }
  @media (max-width: 991px) {
    section.section, footer.section {
      padding: 48px 0; } }
  section.section.padding-bottom-none, footer.section.padding-bottom-none {
    padding-bottom: 0; }
  section.section.padding-top-none, footer.section.padding-top-none {
    padding-top: 0; }
  section.section.padding-top-half, footer.section.padding-top-half {
    padding-top: 48px; }
    @media (max-width: 991px) {
      section.section.padding-top-half, footer.section.padding-top-half {
        padding-top: 24px; } }
  section.section.padding-bottom-half, footer.section.padding-bottom-half {
    padding-bottom: 48px; }
    @media (max-width: 991px) {
      section.section.padding-bottom-half, footer.section.padding-bottom-half {
        padding-bottom: 24px; } }
  section.section.padding-bottom-double, footer.section.padding-bottom-double {
    padding-bottom: 192px; }
    @media (max-width: 991px) {
      section.section.padding-bottom-double, footer.section.padding-bottom-double {
        padding-bottom: 96px; } }
  section.section.padding-top-double, footer.section.padding-top-double {
    padding-top: 192px; }
    @media (max-width: 991px) {
      section.section.padding-top-double, footer.section.padding-top-double {
        padding-top: 96px; } }
  section.section p, footer.section p {
    font-size: 21px; }
    @media (max-width: 991px) {
      section.section p, footer.section p {
        font-size: 16px; } }
  section.section .h2, section.section h2, footer.section .h2, footer.section h2 {
    font-size: 70px;
    font-family: "Balto Light", Helvetica, Arial, Helvetica, sans-serif; }
    @media (max-width: 991px) {
      section.section .h2, section.section h2, footer.section .h2, footer.section h2 {
        font-size: 42px; } }
  section.section .h3, section.section h3, footer.section .h3, footer.section h3 {
    font-size: 51px; }
    @media (max-width: 991px) {
      section.section .h3, section.section h3, footer.section .h3, footer.section h3 {
        font-size: 32px; } }
  section.section .large-text p, footer.section .large-text p {
    font-size: 44px;
    line-height: 1.1; }
    @media (max-width: 991px) {
      section.section .large-text p, footer.section .large-text p {
        font-size: 21px; } }
  section.section .inner, footer.section .inner {
    padding: 0 48px;
    margin: 0 auto;
    max-width: 1440px; }
    @media (max-width: 991px) {
      section.section .inner, footer.section .inner {
        padding: 0 24px; } }
    @media (max-width: 767px) {
      section.section .inner, footer.section .inner {
        padding: 0 12px; } }

section.culture-teaser .top {
  display: flex;
  flex-direction: row;
  align-items: flex-start; }
  @media (max-width: 991px) {
    section.culture-teaser .top {
      display: block; } }
  section.culture-teaser .top img, section.culture-teaser .top .text {
    flex: 1; }
  @media (max-width: 991px) {
    section.culture-teaser .top img {
      margin-top: 24px;
      height: 400px; } }
  section.culture-teaser .top .text {
    padding-right: 48px; }
    section.culture-teaser .top .text p {
      font-family: "Balto Light", Helvetica, Arial, Helvetica, sans-serif; }
    section.culture-teaser .top .text p:first-of-type {
      margin-top: 0; }

section.culture-teaser .pillars {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-top: 48px; }
  @media (max-width: 991px) {
    section.culture-teaser .pillars {
      flex-wrap: wrap; } }
  section.culture-teaser .pillars li {
    margin-right: 48px;
    border-top: 4px solid white;
    padding-left: 0;
    padding-top: 24px;
    font-size: 33px;
    line-height: 1.1;
    flex: 1;
    font-family: "Balto Light", Helvetica, Arial, Helvetica, sans-serif; }
    @media (max-width: 991px) {
      section.culture-teaser .pillars li {
        font-size: 18px;
        padding-top: 12px; } }
    @media (max-width: 767px) {
      section.culture-teaser .pillars li {
        min-width: 30%;
        max-width: 30%; } }
    section.culture-teaser .pillars li:last-of-type {
      margin-right: 0; }
      section.culture-teaser .pillars li:last-of-type:hover a:after {
        background-color: red; }
      section.culture-teaser .pillars li:last-of-type:hover a:before {
        border-color: red; }
      section.culture-teaser .pillars li:last-of-type a {
        display: block;
        font-family: "Balto Book", Helvetica, Arial, Helvetica, sans-serif;
        font-weight: 600; }
    section.culture-teaser .pillars li a {
      color: white;
      font-weight: 400; }

section.section-header .inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  section.section-header .inner a {
    text-transform: uppercase;
    transition-duration: .25s; }
    section.section-header .inner a:hover:after {
      background-color: red; }
    section.section-header .inner a:hover:before {
      border-color: red; }

@keyframes float {
  0% {
    top: -5%;
    left: -2%; }
  50% {
    top: -2%;
    left: 0%; }
  100% {
    top: -5%;
    left: -2%; } }

section.press-list .inner > a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 48px 0;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  opacity: .5;
  transition-duration: .25s; }
  @media (max-width: 767px) {
    section.press-list .inner > a {
      display: block;
      opacity: 1; } }
  section.press-list .inner > a::before, section.press-list .inner > a::after {
    width: 100%;
    height: 100%;
    z-index: 3;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    -webkit-transform: scale(0);
    transition: 0.5s; }
  section.press-list .inner > a::before {
    border-bottom: 2px solid red;
    border-left: 0;
    -webkit-transform-origin: 0% 100%; }
  section.press-list .inner > a::after {
    border-top: 0;
    border-right: 0;
    -webkit-transform-origin: 50% 50%; }
  section.press-list .inner > a:hover::before, section.press-list .inner > a:hover::after {
    -webkit-transform: scale(1); }
  section.press-list .inner > a:hover .right:after {
    background-color: red; }
  section.press-list .inner > a:hover .right:before {
    border-color: red; }
  section.press-list .inner > a:last-of-type {
    border-bottom: none; }
  section.press-list .inner > a:hover {
    opacity: 1;
    border-bottom: red; }
    section.press-list .inner > a:hover .right img {
      opacity: 1;
      transform: scale(1); }
      @media (max-width: 767px) {
        section.press-list .inner > a:hover .right img {
          opacity: .5; } }
  section.press-list .inner > a .date-and-location {
    font-family: "Balto Light", Helvetica, Arial, Helvetica, sans-serif;
    text-transform: uppercase; }
    section.press-list .inner > a .date-and-location.mobile-item {
      display: none; }
      @media (max-width: 991px) {
        section.press-list .inner > a .date-and-location.mobile-item {
          display: block; } }
  section.press-list .inner > a .left {
    margin-top: 15px;
    width: 192px; }
    @media (max-width: 991px) {
      section.press-list .inner > a .left {
        display: none; } }
  section.press-list .inner > a .right {
    position: relative;
    flex: 100;
    z-index: 1; }
    @media (max-width: 767px) {
      section.press-list .inner > a .right {
        position: static; } }
    section.press-list .inner > a .right:before, section.press-list .inner > a .right:after {
      z-index: 2;
      transition-duration: .15s; }
      @media (max-width: 767px) {
        section.press-list .inner > a .right:before, section.press-list .inner > a .right:after {
          right: 0;
          top: auto;
          bottom: 15px; } }
    @media (max-width: 767px) {
      section.press-list .inner > a .right:after {
        bottom: 28px; } }
    section.press-list .inner > a .right img {
      transition-duration: .15s;
      position: absolute;
      opacity: 0;
      transform: scale(0.8);
      right: -72px;
      top: 0;
      height: 100%;
      width: 100%;
      min-height: 200px;
      object-fit: cover;
      object-position: center center; }
      @media (max-width: 767px) {
        section.press-list .inner > a .right img {
          right: 0;
          top: auto;
          width: 50%;
          bottom: 0;
          min-height: auto; } }
  section.press-list .inner > a .middle {
    max-width: 50%;
    z-index: 2; }
    @media (max-width: 767px) {
      section.press-list .inner > a .middle {
        max-width: 100%;
        width: 100%; } }
    section.press-list .inner > a .middle .h3 {
      text-transform: none;
      margin: 0; }

footer.section {
  padding: 24px 0;
  min-height: 600px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  z-index: -1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; }
  @media (max-width: 991px) {
    footer.section {
      position: relative; } }
  footer.section .inner {
    display: flex;
    flex-direction: row;
    width: 100%; }
    @media (max-width: 991px) {
      footer.section .inner {
        display: block; } }
    footer.section .inner .block {
      flex: 1;
      display: flex;
      flex-direction: column; }
    footer.section .inner .block:first-of-type .top {
      display: flex;
      flex-direction: row;
      flex: 100;
      align-items: center; }
      @media (max-width: 991px) {
        footer.section .inner .block:first-of-type .top {
          display: block; } }
      footer.section .inner .block:first-of-type .top img {
        height: 300px;
        margin-right: 48px; }
        @media (max-width: 991px) {
          footer.section .inner .block:first-of-type .top img {
            height: 96px;
            margin: 48px 0; } }
      footer.section .inner .block:first-of-type .top ul {
        list-style-type: none; }
        footer.section .inner .block:first-of-type .top ul li {
          font-size: 63px;
          line-height: 1; }
          @media (max-width: 991px) {
            footer.section .inner .block:first-of-type .top ul li {
              font-size: 42px; } }
          footer.section .inner .block:first-of-type .top ul li:first-of-type {
            font-weight: 600; }
    @media (max-width: 991px) {
      footer.section .inner .block:first-of-type .bottom {
        display: none; } }
    footer.section .inner .block:first-of-type .bottom span:first-of-type {
      padding-right: 12px; }
    footer.section .inner .block:first-of-type .bottom .social-item {
      padding: 12px; }
    footer.section .inner .block:first-of-type .bottom .divider {
      position: relative; }
    footer.section .inner .block:first-of-type .bottom .divider:before {
      content: "";
      position: absolute;
      width: 0.5px;
      height: 200%;
      top: -50%;
      left: 0;
      transform: rotate(20deg);
      background-color: rgba(255, 255, 255, 0.5); }
    footer.section .inner .block:last-of-type {
      justify-content: flex-end;
      align-items: flex-end; }
      @media (max-width: 991px) {
        footer.section .inner .block:last-of-type {
          align-items: flex-start; } }
      footer.section .inner .block:last-of-type .top, footer.section .inner .block:last-of-type .bottom {
        text-align: right; }
        @media (max-width: 991px) {
          footer.section .inner .block:last-of-type .top, footer.section .inner .block:last-of-type .bottom {
            text-align: left;
            margin-top: 48px; } }
      footer.section .inner .block:last-of-type .top {
        border-top: 4px solid white;
        padding-bottom: 96px;
        padding-top: 12px;
        padding-right: 12px; }
        @media (max-width: 991px) {
          footer.section .inner .block:last-of-type .top {
            padding-bottom: 48px; } }
        footer.section .inner .block:last-of-type .top p {
          margin: 0;
          font-size: 14px; }
          footer.section .inner .block:last-of-type .top p:first-of-type {
            font-weight: 600; }
      footer.section .inner .block:last-of-type .bottom {
        position: relative; }
        @media (max-width: 991px) {
          footer.section .inner .block:last-of-type .bottom {
            width: 100%;
            margin: 0 auto;
            max-width: 600px; } }
        footer.section .inner .block:last-of-type .bottom span, footer.section .inner .block:last-of-type .bottom input {
          display: block; }
        footer.section .inner .block:last-of-type .bottom span {
          font-size: 21px;
          text-align: left; }
        footer.section .inner .block:last-of-type .bottom form {
          position: relative; }
          @media (max-width: 991px) {
            footer.section .inner .block:last-of-type .bottom form {
              margin-bottom: 48px; } }
        footer.section .inner .block:last-of-type .bottom input[type=text] {
          border: 1px solid white;
          background-color: transparent;
          color: white;
          width: 288px;
          padding: 12px;
          padding-right: 60px;
          margin-top: 6px;
          font-size: 14px; }
          @media (max-width: 991px) {
            footer.section .inner .block:last-of-type .bottom input[type=text] {
              width: 100%; } }
        footer.section .inner .block:last-of-type .bottom .arrow-styles, footer.section .inner .block:last-of-type .bottom .block:first-of-type .top ul li:first-of-type, footer.section .inner .block:first-of-type .top ul .block:last-of-type .bottom li:first-of-type {
          position: absolute;
          right: 0;
          height: 100%;
          top: 0;
          width: 0; }
        footer.section .inner .block:last-of-type .bottom input[type=submit] {
          position: absolute;
          height: 100%;
          top: 0;
          right: 0;
          width: 60px;
          opacity: 0; }
      footer.section .inner .block:last-of-type .mobile-social {
        display: none;
        text-align: center; }
        footer.section .inner .block:last-of-type .mobile-social a, footer.section .inner .block:last-of-type .mobile-social span {
          display: inline-block; }
        footer.section .inner .block:last-of-type .mobile-social span:last-of-type {
          display: block;
          text-align: center;
          font-size: 12px;
          width: 100%;
          margin-top: 48px; }
        footer.section .inner .block:last-of-type .mobile-social .social-item {
          font-size: 12px;
          padding: 12px; }
        footer.section .inner .block:last-of-type .mobile-social .divider {
          position: relative; }
        footer.section .inner .block:last-of-type .mobile-social .divider:before {
          content: "";
          position: absolute;
          width: 0.5px;
          height: 100%;
          top: 0%;
          left: 0;
          transform: rotate(20deg);
          background-color: rgba(255, 255, 255, 0.5); }
        @media (max-width: 991px) {
          footer.section .inner .block:last-of-type .mobile-social {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: center;
            flex-wrap: wrap; } }

section.project-list-container .inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  section.project-list-container .inner .project-card {
    flex: 1;
    padding: 12px;
    min-width: 40%; }
    section.project-list-container .inner .project-card:nth-of-type(7n-5), section.project-list-container .inner .project-card:nth-of-type(7n-4) {
      min-width: 60%; }
    section.project-list-container .inner .project-card:nth-of-type(7n-3), section.project-list-container .inner .project-card:nth-of-type(7n-6) {
      min-width: 40%; }
    section.project-list-container .inner .project-card:nth-of-type(7n), section.project-list-container .inner .project-card:nth-of-type(7n-1), section.project-list-container .inner .project-card:nth-of-type(7n-2) {
      min-width: 30%; }
    section.project-list-container .inner .project-card:nth-of-type(7n-6), section.project-list-container .inner .project-card:nth-of-type(7n-4), section.project-list-container .inner .project-card:nth-of-type(7n-2) {
      padding-left: 0; }
    section.project-list-container .inner .project-card:nth-of-type(7n-5), section.project-list-container .inner .project-card:nth-of-type(7n-3), section.project-list-container .inner .project-card:nth-of-type(7n) {
      padding-right: 0; }
    section.project-list-container .inner .project-card img {
      height: 288px;
      width: 100%;
      object-fit: cover;
      object-position: center center; }
    section.project-list-container .inner .project-card h3 {
      font-size: 2.2vw;
      font-family: "Balto Light", Helvetica, Arial, Helvetica, sans-serif;
      color: black;
      margin-top: 0; }

main {
  transition-duration: .25s;
  margin-bottom: 600px; }
  @media (max-width: 991px) {
    main {
      margin-bottom: 0; } }
  main.bg-clr-black {
    background-color: black; }

section.work-archive-header .inner {
  align-items: flex-end; }
  section.work-archive-header .inner .work-archive-filters {
    width: 100%;
    text-align: right;
    position: relative; }
    section.work-archive-header .inner .work-archive-filters h2 {
      position: absolute;
      left: 0;
      top: 0; }
    section.work-archive-header .inner .work-archive-filters .filters-list {
      display: none; }
    section.work-archive-header .inner .work-archive-filters .label {
      padding-top: 50px;
      height: 50px;
      display: inline-block;
      color: black;
      text-transform: uppercase;
      font-size: 29px; }
    section.work-archive-header .inner .work-archive-filters input {
      position: relative;
      height: 24px;
      width: 24px;
      margin: 0 5px;
      cursor: pointer; }
      section.work-archive-header .inner .work-archive-filters input:after {
        content: "";
        position: absolute;
        top: -1px;
        left: -1px;
        height: calc(100% + 2px);
        width: calc(100% + 2px);
        background-color: white;
        z-index: 1; }
      section.work-archive-header .inner .work-archive-filters input:before {
        content: "";
        position: absolute;
        height: 12px;
        width: 12px;
        border-left: 1px solid black;
        border-top: 1px solid black;
        left: 6px;
        top: 6px;
        transform: rotate(-135deg) translate(5px, 0);
        z-index: 2;
        transition-duration: .25s; }
      section.work-archive-header .inner .work-archive-filters input:checked:before {
        transform: rotate(45deg) translate(0, 5px); }
    section.work-archive-header .inner .work-archive-filters .filters-list {
      text-align: left; }
      section.work-archive-header .inner .work-archive-filters .filters-list a {
        display: block;
        color: black; }
        section.work-archive-header .inner .work-archive-filters .filters-list a:hover {
          color: red; }
    section.work-archive-header .inner .work-archive-filters #locations-checkbox:checked ~ .location-filters {
      display: block; }
    section.work-archive-header .inner .work-archive-filters #industries-checkbox:checked ~ .industry-filters {
      display: block; }
