

.bg-black {
    background: black;
    color: white;
    a {
        color: white;
    }
}

.bg-dark-grey {
    background: #0A0A0A;
    color: white;
    a {
        color: white;
    }
}

.txt-red {
    color: red;
}

.arrow-styles {
    position: relative;
    margin-right: 72px;

    &.med-size {
        margin-right: 50px;
        &:before {
            height: 20px;
            width: 20px;
            top: calc(50% - 10px);
            border-top: 2px solid white;
            border-right: 2px solid white;
            transform: rotate(45deg) translate(-1px, 2px);
        }

        &:after {
            width: 30px;
            height: 2px;
        }

        &:before, &:after {
            right: -35px;
        }

        &.align-top {
            &:after {
                top: 10px;
            }
        }
    }

    &.sm-size {
        margin-right: 35px;

        &:before {
            height: 10px;
            width: 10px;
            top: calc(50% - 5px);
            border-top: 2px solid white;
            border-right: 2px solid white;
            transform: rotate(45deg) translate(0px, 1px);
        }

        &:after {
            width: 15px;
            height: 2px;
        }

        &:before, &:after {
            right: -30px;
        }

        &.align-top {
            &:after {
                top: 5px;
            }
        }
    }

    &:before, &:after {
        content: "";
        position: absolute;
        right: -72px;
        transition-duration: .25s;
    }

    &.align-top {
        &:before {
            top: 0px;
        }
        &:after {
            top: 15px;
        }
    }

    &:before {
        height: 30px;
        width: 30px;
        transform: rotate(45deg) translate(-2px, 4px);
        border-top: 3px solid white;
        border-right: 3px solid white;
        top: calc(50% - 15px);
    }

    &:after {
        width: 40px;
        height: 3px;
        top: 50%;
        background: white;
    }

}


section.section, footer.section {
    width: 100%;
    padding: 96px 0;
    font-weight: 300;
    @media (max-width:991px) {
        padding: 48px 0;
    }

    &.padding-bottom-none {
        padding-bottom: 0;
    }

    &.padding-top-none {
        padding-top: 0;
    }

    &.padding-top-half {
        padding-top: 48px;
        @media (max-width:991px) {
            padding-top: 24px;
        }
    }

    &.padding-bottom-half {
        padding-bottom: 48px;
        @media (max-width:991px) {
            padding-bottom: 24px;
        }
    }

    &.padding-bottom-double {
        padding-bottom: 192px;
        @media (max-width:991px) {
            padding-bottom: 96px;
        }
    }

    &.padding-top-double {
        padding-top: 192px;
        @media (max-width:991px) {
            padding-top: 96px;
        }
    }

    p {
        font-size: 21px;
        @media (max-width:991px) {
            font-size: 16px;
        }
    }

    .h2, h2 {
        font-size: 70px;
        font-family: "Balto Light", Helvetica, Arial, Helvetica, sans-serif;
        @media (max-width:991px) {
            font-size: 42px;
        }
    }

    .h3, h3 {
        font-size: 51px;
        @media (max-width:991px) {
            font-size: 32px;
        }
    }

    .large-text {
        p {
            font-size: 44px;
            line-height: 1.1;
            @media (max-width:991px) {
                font-size: 21px;
            }
        }
    }

    .inner {
        padding: 0 48px;
        margin: 0 auto;
        max-width: 1440px;
        @media (max-width:991px) {
            padding: 0 24px;
        }
        @media (max-width:767px) {
            padding: 0 12px;
        }
    }
}

section.culture-teaser {

    .top {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        @media (max-width:991px) {
            display: block;
        }

        img, .text {
            flex: 1;
        }

        img {
            @media (max-width:991px) {
                margin-top: 24px;
                height: 400px;
            }
        }

        .text {
            padding-right: 48px;

            p {
                font-family: "Balto Light", Helvetica, Arial, Helvetica, sans-serif;
            }

            p:first-of-type {
                margin-top: 0;
            }
        }
    }
    .pillars {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding-top: 48px;
        @media (max-width:991px) {
            flex-wrap: wrap;
        }

        li {
            margin-right: 48px;
            border-top: 4px solid white;
            padding-left: 0;
            padding-top: 24px;
            font-size: 33px;
            line-height: 1.1;
            flex: 1;
            font-family: "Balto Light", Helvetica, Arial, Helvetica, sans-serif;
            @media (max-width:991px) {
                font-size: 18px;
                padding-top: 12px;
            }
            @media (max-width:767px) {
                min-width: 30%;
                max-width: 30%;
            }


            &:last-of-type {
                margin-right: 0;
                &:hover {
                    a {
                        &:after {
                            background-color: red;
                        }
                        &:before {
                            border-color: red;
                        }
                    }
                }
                
                a {
                    display: block;
                    font-family: "Balto Book", Helvetica, Arial, Helvetica, sans-serif;
                    font-weight: 600;
                }
            }

            a {
                color: white;
                font-weight: 400;
            }
        }
    }
}

section.section-header {
    .inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        a {
            text-transform: uppercase;
            transition-duration: .25s;

            &:hover {
                &:after {
                    background-color: red;
                }
                &:before {
                    border-color: red;
                }
            }
        }
    }
}


@keyframes float {
  0% {
    top: -5%;
    left: -2%;
  }
  50% {
    top: -2%;
    left: 0%;
  }
  100% {
    top: -5%;
    left: -2%;
  }
}

section.press-list {
    .inner > a {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 48px 0;
        position: relative;
        border-bottom: 1px solid rgba(white, 0.5);
        opacity: .5;
        transition-duration: .25s;
        @media (max-width:767px) {
            display: block;
            opacity: 1;
        }
        
        &::before, &::after {
            width: 100%;
            height:100%;
            z-index: 3;
            content:'';
            position: absolute;
            top:0;
            left:0;
            box-sizing: border-box;
            -webkit-transform: scale(0);
            transition: 0.5s;
        }

        &::before {
            border-bottom: 2px solid red;
            border-left: 0;
            -webkit-transform-origin: 0% 100%;
        }

        &::after {
            border-top: 0;
            border-right: 0;
            -webkit-transform-origin: 50% 50%;
        }

        &:hover {
            &::before, &::after {
                -webkit-transform: scale(1);
            }

            .right {
                &:after {
                    background-color: red;
                }

                &:before {
                    border-color: red;
                }
            }
        }

        &:last-of-type {
            border-bottom: none;
        }

        &:hover {
            opacity: 1;

            .right img {
                opacity: 1;
                transform: scale(1);

                @media (max-width:767px) {
                    opacity: .5;
                }
            }
            border-bottom: red;
        }

        .date-and-location {
            font-family: "Balto Light", Helvetica, Arial, Helvetica, sans-serif;
            text-transform: uppercase;

            &.mobile-item {
                display: none;
                @media (max-width:991px) {
                    display: block;
                }
            }
        }

        .left {
            margin-top: 15px; 
            width: 192px;
            @media (max-width:991px) {
                display: none;
            }
        }

        .right {
            position: relative;
            flex: 100;
            z-index: 1;
            @media (max-width:767px) {
                position: static;
            }

            &:before, &:after {
                z-index: 2;
                transition-duration: .15s;
                @media (max-width:767px) {
                    right: 0;
                    top: auto;
                    bottom: 15px;
                }
            }

            &:after {
                @media (max-width:767px) {
                    bottom: 28px;   
                }
            }

            img {
                transition-duration: .15s;
                position: absolute;
                opacity: 0;
                transform: scale(.8);
                right: -72px;
                top: 0;
                height: 100%;
                width: 100%;
                min-height: 200px;
                object-fit: cover;
                object-position: center center;

                @media (max-width:767px) {
                    right: 0;
                    top: auto;
                    width: 50%;
                    bottom: 0;
                    min-height: auto;
                }
            }
        }

        .middle {
            max-width: 50%;
            z-index: 2;
            @media (max-width:767px) {
                max-width: 100%;
                width: 100%;
            }

            .h3 {
                text-transform: none;
                margin: 0;
            }
        }
    }
}

footer.section {
    padding: 24px 0;
    min-height: 600px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    z-index: -1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    @media (max-width:991px) {
        position: relative;
    }

    .inner {
        display: flex;
        flex-direction: row;
        width: 100%;

        @media (max-width:991px) {
            display: block;
        }

        .block {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        .block:first-of-type {

            .top {
                display: flex;
                flex-direction: row;
                flex: 100;
                align-items: center;

                @media (max-width:991px) {
                    display: block;
                }

                img {
                    height: 300px;
                    margin-right: 48px;
                    @media (max-width:991px) {
                        height: 96px;
                        margin: 48px 0;
                    }
                }

                ul {
                    list-style-type: none;
                    li {
                        font-size: 63px;
                        line-height: 1;
                        @media (max-width:991px) {
                            font-size: 42px;
                        }

                        &:first-of-type {
                            @extend .arrow-styles;
                            font-weight: 600;

                        }
                    }
                }
            }

            .bottom {
                @media (max-width:991px) {
                    display: none;
                }

                span:first-of-type {
                    padding-right: 12px;
                }

                .social-item {
                    padding: 12px;
                }

                .divider {
                    position: relative;
                }

                .divider:before {
                    content: "";
                    position: absolute;
                    width: 0.5px;
                    height: 200%;
                    top: -50%;
                    left: 0;
                    transform: rotate(20deg);
                    background-color: rgba(white, .5);
                }
            }
        }

        .block:last-of-type {
            justify-content: flex-end;
            align-items: flex-end;

            @media (max-width:991px) {
                align-items: flex-start;
            }

            .top, .bottom {
                text-align: right;

                @media (max-width:991px) {
                    text-align: left;
                    margin-top: 48px;
                }
            }

            .top {
                border-top: 4px solid white;
                padding-bottom: 96px;
                padding-top: 12px;
                padding-right: 12px;
                @media (max-width:991px) {
                    padding-bottom: 48px;
                }

                p {
                    margin: 0;
                    font-size: 14px;

                    &:first-of-type {
                        font-weight: 600;
                    }
                }
            }

            .bottom {
                position: relative;
                @media (max-width:991px) {
                    width: 100%;
                    margin: 0 auto;
                    max-width: 600px;
                }

                span, input {
                    display: block;
                }

                span {
                    font-size: 21px;
                    text-align: left;
                }

                form {
                    position: relative;
                    @media (max-width:991px) {
                        margin-bottom: 48px;
                    }
                }

                input[type=text] {
                    border: 1px solid white;
                    background-color: transparent;
                    color: white;
                    width: 48px * 6;
                    padding: 12px;
                    padding-right: 60px;
                    margin-top: 6px;
                    font-size: 14px;

                    @media (max-width:991px) {
                        width: 100%;
                    }
                }

                .arrow-styles {
                    position: absolute;
                    right: 0;
                    height: 100%;
                    top: 0;
                    width: 0;
                }

                input[type=submit] {
                    position: absolute;
                    height: 100%;
                    top: 0;
                    right: 0;
                    width: 60px;
                    opacity: 0;
                }
            }

            .mobile-social {
                display: none;
                text-align: center;

                a, span {
                    display: inline-block;
                }

                span:last-of-type {
                    display: block;
                    text-align: center;
                    font-size: 12px;
                    width: 100%;
                    margin-top: 48px;
                }

                .social-item {
                    font-size: 12px;
                    padding: 12px;
                }

                .divider {
                    position: relative;
                }

                .divider:before {
                    content: "";
                    position: absolute;
                    width: 0.5px;
                    height: 100%;
                    top: 0%;
                    left: 0;
                    transform: rotate(20deg);
                    background-color: rgba(white, .5);
                }

                @media (max-width:991px) {
                    display: flex;
                    flex-direction: row;
                    align-items: stretch;
                    justify-content: center;
                    flex-wrap: wrap;
                }
            }
        }
    }
}



section.project-list-container {
    .inner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .project-card {
            flex: 1;
            padding: 12px;
            min-width: 40%;

            &:nth-of-type(7n-5), &:nth-of-type(7n-4) {
                min-width: 60%;
            }

            &:nth-of-type(7n-3), &:nth-of-type(7n-6) {
                min-width: 40%;
            }

            &:nth-of-type(7n), &:nth-of-type(7n-1), &:nth-of-type(7n-2){
                min-width: 30%;
            }

            &:nth-of-type(7n-6), &:nth-of-type(7n-4), &:nth-of-type(7n-2) {
                padding-left: 0;
            }

            &:nth-of-type(7n-5), &:nth-of-type(7n-3), &:nth-of-type(7n) {
                padding-right: 0;
            }

            img {
                height: 48px * 6;
                width: 100%;
                object-fit: cover;
                object-position: center center;
            }

            h3 {
                font-size: 2.2vw;
                font-family: "Balto Light", Helvetica, Arial, Helvetica, sans-serif;
                color: black;
                margin-top: 0;
            }
        }
    }
}


main {
    transition-duration: .25s;
    margin-bottom: 600px;
    @media (max-width:991px) {
        margin-bottom: 0;
    }

    &.bg-clr-black {
        background-color: black;
    }
}


section.work-archive-header {

    .inner {
        align-items: flex-end;
    

        .work-archive-filters {
            width: 100%;
            text-align: right;
            position: relative;

            h2 {
                position: absolute;
                left: 0;
                top: 0;
            }

            .filters-list {
                display: none;
            }

            .label {
                padding-top: 50px;
                height: 50px;
                display: inline-block;
                color: black;
                text-transform: uppercase;
                font-size: 29px;
            }

            input {
                position: relative;
                height: 24px;
                width: 24px;
                margin: 0 5px;
                cursor: pointer;

                &:after {
                    content: "";
                    position: absolute;
                    top: -1px;
                    left: -1px;
                    height: calc(100% + 2px);
                    width: calc(100% + 2px);
                    background-color: white;
                    z-index: 1;
                }

                &:before {
                    content: "";
                    position: absolute;
                    height: 12px;
                    width: 12px;
                    border-left: 1px solid black;
                    border-top: 1px solid black;
                    left: 6px;
                    top: 6px;
                    transform: rotate(-135deg) translate(5px, 0);
                    z-index: 2;
                    transition-duration: .25s;
                }

                &:checked {
                    &:before {
                        transform: rotate(45deg) translate(0, 5px);
                    }
                }
            }

            .filters-list {
                text-align: left;
                a {
                    display: block;
                    color: black;

                    &:hover {
                        color: red;
                    }
                }
            }

            #locations-checkbox:checked {
                ~ .location-filters {
                    display: block;
                }
            }

            #industries-checkbox:checked {
                ~ .industry-filters {
                    display: block;
                }
            }
            
        }
    }
}