{% comment %}

/**
* Block Slider
*
* @author Peter Laxalt
* @since 2/2020
*/

/*************************************/

{% endcomment %}

<section class="block-slider">
  <div class="block-slider-inner">
    <div class="block-slider-el block-slider-1">

      <div class="block-slide">
        <div class="block-slide-inner">
          <div class="block-slide-content">
            <h4>
              Title
            </h4>
            <a href="/" class="btn btn-arrow">
              Label
            </a>
          </div>

          <div class="block-slide-cover">
            <div class="block-slide-cover-inner">
              <img data-src="https://source.unsplash.com/1600x900/?pink" class="lazy" alt="Title" />
            </div>
          </div>
        </div>
      </div>

      <div class="block-slide">
        <div class="block-slide-inner">
          <div class="block-slide-content">
            <h4>
              Title
            </h4>
            <a href="/" class="btn btn-arrow">
              Label
            </a>
          </div>

          <div class="block-slide-cover">
            <div class="block-slide-cover-inner">
              <img data-src="https://source.unsplash.com/1600x900/?yellow" class="lazy" alt="Title" />
            </div>
          </div>
        </div>
      </div>

      <div class="block-slide">
        <div class="block-slide-inner">
          <div class="block-slide-content">
            <h4>
              Title
            </h4>
            <a href="/" class="btn btn-arrow">
              Label
            </a>
          </div>

          <div class="block-slide-cover">
            <div class="block-slide-cover-inner">
              <img data-src="https://source.unsplash.com/1600x900/?blue" class="lazy" alt="Title" />
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>