{% comment %}

Block Slider:
A simple slider section.

@author Peter Laxalt
@since 2/2020

{% endcomment %}

<section class="block-slider">
  <div class="block-slider-inner">
    <div class="block-slider-el block-slider-1">

      {% include 'block-slider-slide' 
      headline: 'New bike, <br />Who dis?', 
      slug: '/collections/parts-and-components', 
      label: 'Parts & Components', 
      cover: 'https://source.unsplash.com/1600x900/?pink' %}

      {% include 'block-slider-slide' 
      headline: 'New bike, <br />Who der?', 
      slug: '/collections/parts-and-components', 
      label: 'Parts & Components', 
      cover: 'https://source.unsplash.com/1600x900/?yellow' %}

      {% include 'block-slider-slide' 
      headline: 'New bike, <br />Who dat?', 
      slug: '/collections/parts-and-components', 
      label: 'Parts & Components', 
      cover: 'https://source.unsplash.com/1600x900/?blue' %}

    </div>
  </div>
</section>