{% comment %}

Block Row Component

@author Peter Laxalt
@since 2/2020

{% endcomment %}

<section class="block-row block-row-1">

  <!-- <div class="section-header split">
    <h3>
      <span class="squiggle"></span>
      <span>Community Programs</span>
    </h3>
    <p>
      We’re committed to creating a nationally recognized, cycling-friendly community. Outside of our community bike
      shop, RBP engages people in the Truckee Meadows in three key ways: Outreach/Advocacy, Education, and Events.
    </p>
  </div> -->

  <div class="block-row-inner">

    <div class="block-item">
      <a href="/">
        <div class="block-item-inner">
          <div class="block-item-cover block-item-cover-solid bg-clr-orange">
            <span class="txt-clr-white">
              After Hours Workshops
            </span>
          </div>
          <div class="block-item-image">
            <img data-src="https://source.unsplash.com/1600x900/?tools" alt="Block Item" class="lazy" />
          </div>
        </div>
      </a>
    </div>

    <div class="block-item">
      <a href="/">
        <div class="block-item-inner">
          <div class="block-item-cover bg-clr-tint">
            <span class="txt-clr-white">
              Major Taylor Ride Club
            </span>
          </div>
          <div class="block-item-image">
            <img data-src="https://source.unsplash.com/1600x900/?bikes" alt="Block Item" class="lazy" />
          </div>
        </div>
      </a>
    </div>

  </div>
</section>

<section class="block-row">
  <div class="block-row-inner block-row-reverse">

    <div class="block-item">
      <a href="/">
        <div class="block-item-inner">
          <div class="block-item-cover block-item-cover-solid bg-clr-mustard">
            <span class="txt-clr-white">
              Community Outreach
            </span>
          </div>
          <div class="block-item-image">
            <img data-src="https://source.unsplash.com/1600x900/?tools" alt="Block Item" class="lazy" />
          </div>
        </div>
      </a>
    </div>

    <div class="block-item">
      <a href="/">
        <div class="block-item-inner">
          <div class="block-item-cover bg-clr-tint">
            <span class="txt-clr-white">
              FutureCycle
            </span>
          </div>
          <div class="block-item-image">
            <img data-src="https://source.unsplash.com/1600x900/?bikes" alt="Block Item" class="lazy" />
          </div>
        </div>
      </a>
    </div>

  </div>
</section>