{% comment %}

Product Listings Component

@author Peter Laxalt
@since 2/2020

{% endcomment %}

<section class="product-listings">
  <div class="product-listings-inner">
    {% include 'product-card' 
        title: 'Product One',
        cover: 'https://source.unsplash.com/1600x900/?bike',
        price: '$10.99',
        slug: '/products/vintage-team-fuji-road-bike' 
      %}

    {% include 'product-card' 
        title: 'Product One',
        cover: 'https://source.unsplash.com/1600x900/?tool',
        price: '$10.99',
        slug: '/products/vintage-team-fuji-road-bike' 
      %}

    {% include 'product-card' 
        title: 'Product One',
        cover: 'https://source.unsplash.com/1600x900/?wheel',
        price: '$10.99',
        slug: '/products/vintage-team-fuji-road-bike' 
      %}

    {% include 'product-card' 
        title: 'Product One',
        cover: 'https://source.unsplash.com/1600x900/?spokes',
        price: '$10.99',
        slug: '/products/vintage-team-fuji-road-bike' 
      %}

    {% include 'product-card' 
        title: 'Product One',
        cover: 'https://source.unsplash.com/1600x900/?bike',
        price: '$10.99',
        slug: '/products/vintage-team-fuji-road-bike' 
      %}

    {% include 'product-card' 
        title: 'Product One',
        cover: 'https://source.unsplash.com/1600x900/?tool',
        price: '$10.99',
        slug: '/products/vintage-team-fuji-road-bike' 
      %}

    {% include 'product-card' 
        title: 'Product One',
        cover: 'https://source.unsplash.com/1600x900/?wheel',
        price: '$10.99',
        slug: '/products/vintage-team-fuji-road-bike' 
      %}

    {% include 'product-card' 
        title: 'Product One',
        cover: 'https://source.unsplash.com/1600x900/?spokes',
        price: '$10.99',
        slug: '/products/vintage-team-fuji-road-bike' 
      %}

    {% include 'product-card' 
        title: 'Product One',
        cover: 'https://source.unsplash.com/1600x900/?bike',
        price: '$10.99',
        slug: '/products/vintage-team-fuji-road-bike' 
      %}

    {% include 'product-card' 
        title: 'Product One',
        cover: 'https://source.unsplash.com/1600x900/?tool',
        price: '$10.99',
        slug: '/products/vintage-team-fuji-road-bike' 
      %}

    {% include 'product-card' 
        title: 'Product One',
        cover: 'https://source.unsplash.com/1600x900/?wheel',
        price: '$10.99',
        slug: '/products/vintage-team-fuji-road-bike' 
      %}

    {% include 'product-card' 
        title: 'Product One',
        cover: 'https://source.unsplash.com/1600x900/?spokes',
        price: '$10.99',
        slug: '/products/vintage-team-fuji-road-bike' 
      %}

    {% include 'product-card' 
        title: 'Product One',
        cover: 'https://source.unsplash.com/1600x900/?bike',
        price: '$10.99',
        slug: '/products/vintage-team-fuji-road-bike' 
      %}

    {% include 'product-card' 
        title: 'Product One',
        cover: 'https://source.unsplash.com/1600x900/?tool',
        price: '$10.99',
        slug: '/products/vintage-team-fuji-road-bike' 
      %}

    {% include 'product-card' 
        title: 'Product One',
        cover: 'https://source.unsplash.com/1600x900/?wheel',
        price: '$10.99',
        slug: '/products/vintage-team-fuji-road-bike' 
      %}

    {% include 'product-card' 
        title: 'Product One',
        cover: 'https://source.unsplash.com/1600x900/?spokes',
        price: '$10.99',
        slug: '/products/vintage-team-fuji-road-bike' 
      %}
  </div>
</section>