// Sitewide Palette
$clrPrimary: #F684B4;
$clrWhite: #ffffff;
$clrBlack: #000000;
$clrGunmetal: #565c63;
$clrSteel: #ECDCD7;
$clrSnow: #f4f8f8;
$clrGold: #F6AA1B;
$clrLeaf:  rgb(17, 189, 83);

// Universal Color Styles
body {
  background-color: $clrSnow;
  color: $clrBlack;
  main {
    background-color: $clrSnow;
    .wrapper {
      background-color: $clrSnow;
    }
  }
}

// Text Colors
.txt-clr-red {
  color: $clrPrimary !important;
}

.txt-clr-gunmetal {
  color: $clrGunmetal !important;
}

// Background Colors
.bg-clr-white {
  background-color: $clrWhite;
}

.bg-clr-snow {
  background-color: $clrSnow;
}