////////////////////////////////////////
//
// Sitewide Palette
//
// @author Peter Laxalt
//
////////////////////////////////////////

// Primary
$clrPrimary: #f684b4;

// Grayscale
$clrBlack: #000000;
$clrGunmetal: #565c63;
$clrChrome: #929293;
$clrSteel: #f2f1f1;
$clrSnow: #f4f8f8;
$clrWhite: #ffffff;

// Extended
$clrGold: #f6aa1b;
$clrLeaf: rgb(17, 189, 83);

// Universal Color Styles
body {
  background-color: $clrWhite;
  color: $clrBlack;
  main {
    background-color: $clrWhite;
    .wrapper {
      background-color: $clrWhite;
    }
  }
}

// Text Colors
.txt-clr-red {
  color: $clrPrimary !important;
}

.txt-clr-gunmetal {
  color: $clrGunmetal !important;
}

// Background Colors
.bg-clr-white {
  background-color: $clrWhite;
}

.bg-clr-snow {
  background-color: $clrSnow;
}
