// Button Component

// Default Styles
button,
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 $Base/2;
  border-radius: $BaseBtnRadius;
  font-size: 1rem;
  font-weight: bold;
  background-color: $ClrWhite;
  color: $ClrBlack;
  margin: 0;
  box-shadow: 0px 0px 0px 0px rgba($ClrBlack, 0);
  transition: all $BaseTransition ease;
  line-height: 0;
  border: 0;
  outline: 0;
  height: $BaseBtnHeight;
  text-transform: capitalize;
  cursor: pointer;

  @media (max-width: $BaseMediaMd) {
    font-size: .9rem;
    padding: 0 $Base/4;
    height: $BaseBtnHeightMd;
  }
  @media (max-width: $BaseMediaSm) {
    font-size: .9rem;
    padding: 0 $Base/4;
    height: $BaseBtnHeightSm;
  }

  &:focus,
  &:active {
    outline: 0;
    border: 0;
  }

  &:hover {
    box-shadow: 0px 0px 0px 6px rgba($ClrBlack, 0.07);
  }

  // Button Colors:
  // Naming convention is .btn-clr-{ClrName}
  &.btn-clr-red {
    background-color: $ClrRed;
    color: $ClrWhite;
    &:hover {
      background-color: lighten($ClrRed, $BaseLighten);
    }
    &:active {
      background-color: darken($ClrRed, $BaseLighten);
    }
  }

  &.btn-clr-error {
    background-color: $ClrGold;
    color: $ClrWhite;
    &:hover {
      background-color: lighten($ClrGold, $BaseLighten);
    }
    &:active {
      background-color: darken($ClrGold, $BaseLighten);
    }
  }

  &.btn-clr-success {
    background-color: $ClrLeaf;
    color: $ClrWhite;
    &:hover {
      background-color: lighten($ClrLeaf, $BaseLighten);
    }
    &:active {
      background-color: darken($ClrLeaf, $BaseLighten);
    }
  }

  // Button Borders:
  // These are transparent buttons. Same naming convention
  // as the colored butttons.
  &.btn-border-black {
    background: rgba($ClrBlack, 0);
    border: 1px solid $ClrBlack;
    box-shadow: none;
    color: $ClrBlack;
    transition: all $BaseTransition ease;
    svg {
      fill: none;
      stroke-width: 1px;
      stroke: $ClrBlack;
      transition: all $BaseTransition ease;
    }
    &:hover {
      background: rgba($ClrRed, 1);
      border: 1px solid $ClrRed;
      color: $ClrWhite;
      svg {
        stroke: $ClrWhite;
      }
    }
  }

  &.btn-border-red {
    background: rgba($ClrRed, 0);
    border: 1px solid $ClrRed;
    box-shadow: none;
    color: $ClrRed;
    transition: all $BaseTransition ease;
    svg {
      fill: none;
      stroke-width: 1px;
      stroke: $ClrRed;
      transition: all $BaseTransition ease;
    }
    &:hover {
      background: rgba($ClrRed, 1);
      border: 1px solid $ClrRed;
      color: $ClrWhite;
      svg {
        stroke: $ClrWhite;
      }
    }
  }
}
