// Sitewide Navigation Component

// For nested navigation.
$SubItemsWidth: 300px;

// Default Navigation Styles
header {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  z-index: 800;
  background: $clrWhite;
  transition: .25s;

  &.hidden {
      opacity: 0;
      @media (min-width: $BaseNavBreak) {
        opacity: 1;
      }
  }

  // Base List Styles
  ul {
    display: flex;

    li {
      flex-shrink: 0;
    }
  }

  // Base Link Styles
  a {
    font-weight: 600;
    color: $clrBlack;

    &:visited {
      color: $clrBlack;
    }

    &:hover,
    &:active,
    &:focus {
      color: $clrPrimary;
    }
  }

  // Base Nav Styles
  nav {
    height: 100%;
    display: flex;
    align-items: center;

    div {
      height: 100%;
    }

    ul {
      height: 100%;
      display: flex;
      align-items: center;

      li {
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;

        a {
          height: 100%;
          display: flex;
          align-items: center;
          padding: 0 $Base/2;

          @media (max-width: $BaseMediaSm) {
            padding: 0 $Base/4;
            font-size: .8rem;
          }
        }

        // Bottom Underlines
        &:before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 4px;
          background: rgba($clrPrimary, 0);
        }

        &:hover {
          &:before {
            background: rgba($clrBlack, 0.1);
          }
        }

        // Active Links & Underlines
        &.active {
          a,
          a:visited {
            color: $clrPrimary;
          }
          &:before {
            background: rgba($clrPrimary, 1);
          }

          &.nav-shop {
            a,
            a:visited {
              color: $clrBlack;
            }

            &:before {
              background: rgba($clrBlack, 1);
            }

            &:hover {
              color: $clrBlack;
            }
          }
        }

        // Inactive Links & Underlines
        &.inactive {
          a,
          a:visited {
            color: $clrChrome;
          }

          a:hover {
            color: $clrPrimary;
          }
        }

        .sub-menu {
          $borderSize: 2px;

          position: absolute;
          top: 100%;
          left: 0;
          width: 350px;
          background: $clrWhite;
          border: $borderSize $clrBlack solid;
          flex-direction: column;
          height: unset;
          display: none;

          &:before {
            content: "";
            position: absolute;
            left: calc(#{$borderSize} * -1);
            right: calc(#{$borderSize} * -1);
            top: calc(#{$borderSize} * -3);
            height: calc(#{$borderSize} * 2);
            background: rgba($clrBlack, 1);
          }
          // display: none;

          li {
            width: 100%;
            height: calc(#{$BaseNavSizeLg} * 0.8);
            border-bottom: 1px solid rgba($clrBlack, 0.1);
            position: relative;

            &:last-child {
              border-bottom: none;
            }

            a {
              width: 100%;
            }

            &:before {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              bottom: 0;
              width: calc(#{$borderSize} * 3);
              background: $clrPrimary;
              opacity: 0;
              height: unset;
              right: unset;
            }

            &:hover {
              &:before {
                opacity: 1;
              }
            }
          }
        }

        &:hover {
          .sub-menu {
            display: flex;
          }
        }

        &.menu-item-has-children {
          $arrowSize: calc(#{$Base} / 8);
          padding-right: calc(#{$arrowSize} * 2);
          position: relative;

          &:after {
            content: "";
            position: absolute;
            right: calc(#{$arrowSize} * 2);
            top: 50%;
            transform: translateY(-50%);
            width: 0;
            height: 0;
            border-left: $arrowSize solid transparent;
            border-right: $arrowSize solid transparent;
            border-top: $arrowSize solid $clrPrimary;
          }
        }
      }
    }
  }

  // Navigation Inner
  .nav-inner {
    width: 100%;
    max-width: $BaseMaxWidth;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: rgba($clrWhite, 0);
    transition: all $BaseTransition $BaseEase;

    .nav-col {
      display: flex;
      align-items: center;
      height: $BaseNavSizeLg;

      @media (max-width: $BaseMediaSm) {
        height: $BaseNavSizeSm;
      }

      // Branding Column
      &.nav-col-1 {
        // Branding itself
        .nav-branding {
          height: 100%;
          width: $BaseGutter;
          display: flex;
          align-items: center;
          justify-content: center;
          background: $clrPrimary; // Default

          @media (max-width: $BaseMediaSm) {
            width: $BaseNavSizeSm;
          }

          // For Shopify
          &.nav-shop {
            background: $clrBlack;

            a {
              background: $clrBlack;
            }
          }

          a {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $clrPrimary;

            &:visited,
            &:active {
              color: $clrWhite;
            }

            &:hover {
              background: lighten($clrPrimary, 5%);
            }

            &:active {
              background: darken($clrPrimary, 5%);
            }

            // @todo Replace for image
            span {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background: $clrWhite;
            }
          }
        }
      }

      //Main Links
      &.nav-col-2 {
        @media( max-width: $BaseNavBreak ){
          display: none;
        }
      }

      // CTA Column
      &.nav-col-3 {
        @media (max-width: $BaseNavBreak ) {
          flex: 10;
        }

        .nav-cta {
          height: 100%;
          display: flex;
          align-items: center;

          @media (max-width: $BaseNavBreak ) {
            margin-left: auto;
          }

          @media (max-width: $BaseMediaSm) {
            display: none;
          }

          // CTA Button
          a {
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 $Base;
            background: $clrPrimary;
            color: $clrWhite;

            @media (max-width: $BaseMediaSm) {
              padding: 0 $Base / 2;
            }

            &:visited,
            &:active {
              color: $clrWhite;
            }

            &:hover {
              background: lighten($clrPrimary, 5%);
            }

            &:active {
              background: darken($clrPrimary, 5%);
            }
          }
        }

        .nav-search {
          display: flex;
          height: 100%;
          align-items: center;

          @media (max-width: $BaseNavBreak ) {
            margin-left: auto;

            //if there is a search icon next to the cta then its shopify
            //and we don't want a margin spacing out the cta and the search icon
            ~ .nav-cta {
              margin-left: 0;
            }
          }

          @media (max-width: $BaseMediaSm) {
            //if there is a search icon next to the cta then its shopify
            //and we don't want to get rid of the cta
            ~ .nav-cta {
              display: block;
            }
          }

          button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding: 0 $Base/2;
            position: relative;

            @media (max-width: $BaseMediaSm) {
              padding: $Base / 6;
              background: transparent;
            }

            &:hover {
              background: $clrSnow;
              box-shadow: none;
            }

            &:active {
              background: darken($clrSnow, 5%);
            }

            svg {
              fill: $clrBlack;
              transform: scale(1);
              width: calc(#{$Base} * 0.8);
              height: calc(#{$Base} * 0.8);
              transform-origin: center center;

              @media (max-width: $BaseMediaSm) {
                width: calc(#{$Base} * 0.6);
                height: calc(#{$Base} * 0.6);
              }
            }
          }
        }

        &.nav-shop {
          .nav-cart {
            svg {
              fill: $clrBlack;
            }
          }
          .nav-cta {

            a {
              background: $clrBlack;
              @media (max-width: $BaseMediaSm) {
                background: transparent;
                position: relative;
                padding-left: $Base / 8;
              }

              #cart-icon {
                display: none;
                width: $Base * 0.8;
  
                @media (max-width: $BaseMediaSm) {
                  display: block;
                }
              }

              //cart label
              span {
                @media (max-width: $BaseMediaSm) {
                  display: none;
                }
              }

              &:hover {
                background: $clrPrimary;

                @media (max-width: $BaseMediaSm) {
                  background: $clrSnow;
                }
              }

              .count {
                // background: $clrWhite;
                border: 2px solid $clrWhite;
                color: $clrWhite;
                width: calc(#{$Base});
                height: calc(#{$Base});
                font-size: 1rem;
                font-weight: 800;
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 0;
                margin-left: calc(#{$Base} / 2);
                margin-right: calc(#{$Base} / 2);

                @media (max-width: $BaseMediaSm) {
                  position: absolute;
                  background: $clrPrimary;
                  border-radius: $Base;
                  padding: $Base / 8;
                  height: $Base / 2;
                  width: $Base / 2;
                  border: none;
                  top: 15px;
                  right: $Base / -8;
                  font-size: 12px;
                  margin: 0;
                }
              }
            }

            &.items-added {
              a {
                padding-right: 0;
              }
            }
          }
        }
      }
      &.nav-col-4 {
        display: none;
        justify-content: center;
        align-items: center;
        padding: 0 $Base / 4;

        @media (max-width: $BaseNavBreak ) {
          display: flex;
        }

        .grid {
          $gridItemWidth: 10px;
          width: $gridItemWidth * 3;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          &.black-grid span {
            background: $clrBlack;
          }

          &:hover span {
            background: $clrBlack;
          }

          &.black-grid:hover span {
            background: $clrPrimary;
          }

          span {
            width: $gridItemWidth;
            height: $gridItemWidth;
            border: 2px solid $clrWhite;
            background: $clrPrimary;
            border-radius: 3px;
          }
        }
      }
    }
  }
}
